@charset "utf-8";

/* リセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 100%;
  color: var(--color-black)
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}


/* 共通部分 */
/* ヘッダー */
.header {
  display: flex;
  justify-content: right;
  align-items: center;
  position: fixed;
  top: 12px;
  right: 12px;
  height: fit-content;
  width: 100%;
  z-index: 20;
}

.header-menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.2rem;
}

.header-menu ul li {
  font-size: 1.3rem;
  /* アニメーション */
  animation: slideInX var(--transition-slow) forwards;
  opacity: 0;
  overflow: hidden;
  position: relative;
  line-height: 1.3;
}

.header-menu ul li:first-child {
  animation-delay: var(--animeDelay3);
}

.header-menu ul li:nth-child(2) {
  animation-delay: calc(var(--animeDelay3) + 0.2s);
}

.header-menu ul li:nth-child(3) {
  animation-delay: calc(var(--animeDelay3) + 0.4s)
}

@keyframes slideInX {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.header-menu ul li::after {
  content: "";
  display: inline-block;
  background-color: inherit;
  border-bottom: 0.8rem solid var(--maincolor2);
  opacity: 30%;
  mix-blend-mode: multiply;
  height: 1px;
  width: 100%;
  bottom: 0;
  position: absolute;
  transform: translate(-200%);
  transition: 0.6s;
  pointer-events: none;
}

.header-menu ul li:hover:after {
  transform: translateX(-100%);
}

/* アニメーションここまで */

/* メイン */
.switchSlide::before {
  content: "";
  position: fixed;
  inset: 0;
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 30;
  animation: switchSlide 1.2s forwards;
  transform-origin: right;
}

@keyframes switchSlide {
  0% {
    transform: scaleX(100%);
    opacity: 1;
    transition-timing-function: ease-out;
  }

  100% {
    transform: scaleX(0);
    opacity: 0.5;
  }
}

.wrapper {
  max-width: var(--w-contents);
  margin: 0 auto;
}

.title {
  margin-top: 40px;
}

.title h1 {
  font-size: 3.5rem;
  letter-spacing: 0.06em;
  /* アニメーション */
  overflow: hidden;
  display: flex;
}

/* アニメーション */
.title span {
  animation: wipeChara 0.5s forwards;
  transform: translateY(100%);
}

@keyframes wipeChara {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.title h1 span:first-child {
  animation-delay: var(--animeDelay0);
}


.title h1 span:nth-child(2) {
  animation-delay: calc(var(--animeDelay0) + 0.05s);
}

.title h1 span:nth-child(3) {
  animation-delay: calc(var(--animeDelay0) + 0.1s);
}

.title h1 span:nth-child(4) {
  animation-delay: calc(var(--animeDelay0) + 0.15s);
}

.title h1 span:nth-child(5) {
  animation-delay: calc(var(--animeDelay0) + 0.2s);
}

.title h1 span:nth-child(6) {
  animation-delay: calc(var(--animeDelay0) + 0.25s);
}

.title h1 span:nth-child(7) {
  animation-delay: calc(var(--animeDelay0) + 0.3s);
}

.title h1 span:nth-child(8) {
  animation-delay: calc(var(--animeDelay0) + 0.35s);
}

.title h1 span:nth-child(9) {
  animation-delay: calc(var(--animeDelay0) + 0.4s);
}

/* アニメーションここまで */

section h2 {
  letter-spacing: 0.07em;
  font-weight: normal;
  font-size: 2.2rem;
}

section h3 {
  letter-spacing: 0.07em;
}

/* フッター */
.footer {
  height: 32px;
}

/* フォント */
body {
  font-family: 'Sawarabi Gothic', 'Lato', sans-serif;
  letter-spacing: 0.06em;
}



:root {
  --maincolor1: pink;
  --maincolor2: aquamarine;
  --maincolor1-v: hotpink;
  --maincolor2-v: mediumseagreen;
  --color-lightgray: gainsboro;
  --color-gray: darkgray;
  --color-darkgray: dimgrey;
  --color-black: #333132;
  --w-contents: 800px;
  --w-contents-sp:700px;
  --w-grid: calc((var(--w-contents) - 30px ) / 3);
  /* アニメーション */
  --transition: 240ms;
  --transition-fast: 180ms;
  --transition-slow: 600ms;

  /* タイトル */
  --animeDelay0: 0.6s;
  /* ボタン */
  --animeDelay1: 0.2s;
  /* h2 */
  --animeDelay2: 1.2s;
  /* ヘッダー */
  --animeDelay3: 1.4s;
}

@media (max-width:900px) {
  .title {
    padding: 0 5%;
  }    

	.header {
		justify-content: center;
    height: 80px;
		top: 0;
    right: 0;
    background: var(--color-black);
    opacity: 75%;
    animation: slideInY var(--transition-slow) forwards;
    animation-delay: var(--animeDelay0);
    transform: translateY(-200%);
    z-index: 30;
	}

  @keyframes slideInY {
    0% {
      transform: translateY(-200%);
    }
  
    100% {
      transform: translateY(0%);
    }
  }

  .header-menu {
    width: 100%;
    padding: 0 5%;
  }

	.header .header-menu ul{
    width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
    color: #fff;
    max-width: var(--w-contents-sp);
	}

  .header .header-menu ul li::after{
    display: none;
	}

  .wrapper {
    max-width: 750px;
  }

  .main {
    margin-top: 92px;
  }

	.title {
		width: 100%;
		padding-left: 0%;
		animation-delay: 0s;
	}
  
  .title h1{
    font-size: 3rem;
  }  
  
	.title h1,
	.title p {
		justify-content: center;
	}
}

@media (max-width: 600px) {
	.title h1 {
		font-size: 3rem;
	}	
}

@media (max-width: 400px) {
	.title h1 {
		font-size: 2.4rem;
	}	
}